nav{background-color: gray;
padding: 16px;
margin-bottom: 15px
}
.guzik{background-color: gray;
border-color: yellow;
border: 20px}
.color-yellow{font-size:30px;
color:yellow;
font-variant: small-caps}
.big{font-size: x-large}
.wprowadzenie{margin-bottom: 10px}
.nowy{color: yellow;
padding:5px;
margin-bottom: 10px;
border: 16px;
border-color: yellow;
font-size:large}
footer{background-color: gray;
    padding: 10px;
    margin-top: 10px;}
.wykropkowania{color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}